<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patch/Edit request</title>
</head>
<body>

    <h1>Patch/Edit review</h1>
    <form method="post" action="/reviews/<%= comment.id%>?_method=PATCH">
    <textarea name="review" id="" cols="30" rows="10">
        <%= comment.review %>
    </textarea>
    <button>Save</button>
</form>
</body>
</html>     