<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home Page <%= %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero pariatur, adipisci recusandae maiores tenetur voluptas doloribus accusantium! Suscipit omnis architecto, facilis nulla quae debitis. Dignissimos, voluptas quae? Suscipit, necessitatibus fuga?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime qui doloremque placeat quo fuga suscipit, error eum enim quae quam ab eius adipisci accusamus autem animi obcaecati natus libero. Reprehenderit.
Ipsam consequatur aliquid rem, corporis, fugit vitae accusamus veritatis alias culpa, deserunt harum porro dignissimos obcaecati eligendi eum laborum fugiat placeat ipsa aspernatur. Aut deserunt consequuntur ut nulla sequi? Dolor.
Sint odio excepturi autem adipisci? Voluptate, magnam. Labore minima debitis eius harum? Repudiandae, autem! Impedit cum veniam nulla at nam a dignissimos commodi adipisci. Optio tempore odio officiis veniam nisi.</p>

<h2>Your Random Number is : <%= rand%>
</h2>

</body>
</html>