.carImgs {
    max-width: 50%;
    max-height: 50%;
    border-radius: 1em;
    margin: 1em;
}

.containerCars {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: center;
    
}

h2, h1 {
    color: rgb(75, 75, 75);
    margin: auto;
    text-align: center;
}